.issue-container{
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.issue-card-root {
    display: flex;
}

.issue-year {
    font-size: 20px;
    margin-right: 30px;
}


.issue-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.issue-card {
    display: flex;
    flex-direction: column;
}
.issue-card a{
    display: flex;
    flex-direction: column;

}
.issue-card a:hover{
     background-color: transparent;

}
.issue-card a h2{
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    color: #636363;
    font-weight:600;

}
.issue-card a h2:hover{
    background-color: transparent;
    color: #a9e84f;
    text-decoration: underline;
    cursor: pointer;
}

.issue-card a span{
    font-weight:600;
    color: #636363;

}

.issue-body img {
    height: 156px;
    width: 110px;
}
